<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Google Map App</title>

  <link rel="stylesheet" href="bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-hover.min.css" />
  <link rel="stylesheet" href="bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-base.min.css" />
  <link rel="stylesheet" href="bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-desktop.min.css" />
  <link rel="stylesheet" href="css/app.css" /> 
</head>
<body>

  <!-- Sidebars -->

  <div class="sidebar sidebar-left" toggleable parent-active-class="sidebar-left-in" id="mainSidebar">
    <h1 class="app-name">My App</h1>

    <div class="scrollable">
      <div class="scrollable-content">
        <div class="list-group" toggle="off" bubble target="mainSidebar">
          <a class="list-group-item" href="#/">Home <i class="fa fa-chevron-right pull-right"></i></a>
          <!-- ... -->
        </div>

      </div>
    </div>
  </div>

  <div class="app">

    <!-- Navbars -->
    <div class="navbar navbar-app navbar-absolute-top">

        <div class="navbar-brand navbar-brand-center" yield-to="title">
          <span>My App</span>
        </div>

        <div class="btn-group pull-left">
          <div ng-click="toggle('mainSidebar')" class="btn btn-navbar sidebar-toggle">
            <i class="fa fa-bars"></i> Menu
          </div>
        </div>
    </div>

    <div class="app-body">
        <ng-view class="app-content">
          <section id="map" ng-controller="MapCtrl" class="map-canvas">
            <div ui-map="myMap" ui-options="mapOptions" class="map-canvas"></div>
          </section>
        </ng-view>
    </div>
  </div>


  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/mobile-angular-ui/dist/js/mobile-angular-ui.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-ui-utils/ui-utils.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=onGoogleReady"></script>
  <script type="text/javascript" src="bower_components/angular-ui-map/ui-map.js"></script>
  <script src="js/app.js"></script>

</body>
</html>
